 /* Overrides to match the Tailwind CSS */
 *{
    font-family: 'Montserrat', sans-serif !important;
  }
     
 .dataTables_wrapper {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

/* table.dataTable.no-footer {
    border-bottom-width: 1px;
    border-color: #d2d6dc;
} */

table.dataTable tbody td, table.dataTable thead th {
    padding: 0.75rem 1rem;
    text-align: center;
    /* border-bottom-width: 1px;
    border-color: #d2d6dc; */
}


div.dt-buttons {

    display: flex;
    align-items: center;
}

.btn:focus {
    border-color: #fff;
    box-shadow: 0 0 0 2px#b83280 !important;
}



.dataTables_filter label input {
    padding: 0.5rem;
    border-width: 2px;
    border-radius: 0.5rem;
}

.dataTables_filter label input:focus {
    box-shadow: 0 0 0 3px rgba(118, 169, 250, 0.45);
    outline: 0;
}

table.dataTable thead tr {
    border-radius: 0.5rem;
}

table.dataTable thead tr th{
    text-align: center;
}

table.dataTable tfoot tr th{
    text-align: center;
}

table.dataTable tbody tr {
    background-color: #edf2f7;
    border-bottom-width: 2px;
    border-top-width: 1px;
    border-color: #d2d6dc;
}

#example  tr td:nth-child(16) {
    min-width:300px !important;
  }
  #example  tr td:nth-child(17) {
    min-width:300px !important;
  }

  #example  tr td:nth-child(4) {
    min-width:200px !important;
  }

  #example  tr td:nth-child(10) {
    min-width:200px !important;
  }
  #example  tr td:nth-child(11) {
    min-width:200px !important;
  }
  #example  tr td:nth-child(12) {
    min-width:200px !important;
  }


  #example_filter label{
    line-height: 1.5rem;
    
}


 .dataTables_paginate .paginate_button.current:not(.disabled), .dataTables_paginate .paginate_button.next:not(.disabled), .dataTables_paginate .paginate_button.previous:not(.disabled),  .dataTables_paginate .paginate_button:not(.disabled), button.dt-button {
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    letter-spacing: 0.1em;
    cursor: pointer;
   
    color: #7C7C7C !important;
   
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 0.75rem;
    font-weight: 600;
    align-items: center;
    display: inline-flex;
    border-width: 1px !important;
    border-color: #d2d6dc !important;
    border-radius: 0.375rem;
    background: #ffffff;
    overflow: visible;
    margin-bottom: 0;
}

.dataTables_paginate .paginate_button.disabled, .dataTables_paginate .paginate_button.disabled:hover, .dataTables_paginate .paginate_button.disabled:active{
   cursor: default;
   color: #e5e5e5!important;
   border: 1px solid #e5e5e5;
   background: transparent;
   box-shadow: none;
   
   font-weight: 600;
   font-size: 0.75rem;
   letter-spacing: 0.1em;
   border-radius:0.375rem;

}

.dataTables_paginate .paginate_button.next:focus:not(.disabled),  .dataTables_paginate .paginate_button.next:hover:not(.disabled), .dataTables_paginate .paginate_button.previous:focus:not(.disabled), .dataTables_paginate .paginate_button.previous:hover:not(.disabled), .dataTables_paginate .paginate_button:focus:not(.disabled), .dataTables_paginate .paginate_button:hover:not(.disabled), button.dt-button:focus, button.dt-button:focus:not(.disabled), button.dt-button:hover, button.dt-button:hover:not(.disabled){
    background-color: #edf2f7 !important;
    border-width: 1px !important;
    border-color: #d2d6dc !important;
    color: #374151 !important;
    cursor: pointer;
}

.dataTables_paginate .paginate_button.current:not(.disabled) {
    background: #A9CCEE !important;
    color: #ffffff !important;
    border-color: #87a3be !important;
    cursor: pointer;
}

 .dataTables_paginate .paginate_button.current:hover, .dataTables_paginate .paginate_button.current:hover  {
    background-color: #8da2fb !important;
    color: #ffffff !important;
    border-color: #8da2fb !important;
    cursor: pointer;
}

.dataTables_length select {
    padding: .25rem;
    border-radius: .25rem;
    background-color: #edf2f7;
}

.dataTables_length {
    line-height: 2.7rem;
}
th{
    text-transform: uppercase;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 0.8rem;
    font-weight: bold;
    font-stretch: wider;
    text-align: initial;
    color: #2b6cb0;
    

}



.dataTables_scroll{
   border-radius: 0.5rem;
   overflow: hidden;
   box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
} 




#divFooterPagination{
    display: flex;
}
.paginate_button, .ellipsis{
    padding: 0.5rem !important;
    min-width: 2rem;
    justify-content: center;
    margin-right: 0.2rem;

}

#example_info {
   flex:40%;
  
   
}

#example_paginate {
    flex:60%;
   
    
    
 }

 td.dataTables_empty{
     text-align: left !important;
 }

 @media only screen
and (max-device-width: 640px){

    #divTableBtns{
        display:block;

    }

    .dt-buttons{
        
        float:none !important;
        min-width: "100%" !important;
        margin-bottom: 1rem;
    }

    .dt-button{
        
        min-width: fit-content !important;
    }

   


    #example_length{
        
        float:none !important;
        width: "100%" !important;
        
        display: inline;
        
    }

    #example_filter{
        margin-top: 1.5rem;
        float:none !important;
        width: "100%" !important;
    }

  
    




  
    
  }



