*{  margin:0;
    padding:0;
  }
  html{
    scroll-behavior: smooth;
    overflow-y: scroll;
 
  }
  body{
      margin:0;
      padding:0;
      color: #7c7c7c; 
      background-size: cover;
      font-family: 'Montserrat', sans-serif;
  }



  .nav-item{
    float: right;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.2rem;

  }
 
  section{
    height:90vh;
    width:100%;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
 
  #home{
      height:100vh;
  }

  #services{
    scroll-margin-top: 5vh;
      background-color: rgba(255, 255, 255, 0.1);
      height:100vh;
  }
  #about{
    scroll-margin-top: 5vh;
    height:100vh;
}

#apply{
  scroll-margin-top: 5vh;
  height:100vh;
}
#reviews{
  scroll-margin-top: 5vh;
  background-color: rgba(255, 255, 255, 0.1);
  height:100vh;
}
 
  #contact{
      scroll-margin-top: 5vh;
      height: 80vh;
      background-color: rgba(255, 255, 255, 0.1);
  }
  
#subscribe{
  
  height:10vh;
}

  #inputEmailSubscribe{
    background: rgba(255, 255, 255, 0.2) !important;
    font-family: 'Montserrat', sans-serif;
   
  }

  .subscribe-container{
    height:10vh;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    grid-column-gap:2rem;
  
  }

 
  footer{
   
    width:100%;
    background-color: rgba(255, 255, 255, 0.1);
   
  }

.footerTxt{
  font-size: smaller;
}

  .applyBtn{
    background-color: #D895B2;
    color:white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif !important;
  }

  .btnModal{
    background-color: #D895B2;
    color:white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    line-height: 1.9rem;
    z-index: 999999;
    

  }
 

.btn:focus {
  border-color: #fff;
  box-shadow: 0 0 0 2px #A9CCEE;
}



.btn:hover {
 
  filter: brightness(1.1);
  color:#fff;
}

  /* .btnModal:hover{
    color:rgba(245, 237, 245);
    background-color:#d678a2;
  
  } */

  h5.tituloBusqueda{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.2rem !important;
    font-weight: 700 !important;
    line-height: 1.9rem;
  }
  p.empresaBusqueda{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
    line-height: 1.9rem;
  }
  span.lugarBusqueda{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1rem !important;
    font-weight: 300 !important;
    font-style: italic;
    line-height: 1.9rem;
  }
 

  .iconDiv{
    display: flex;
    justify-content: center;
  }
  .divImgText{
    display: flex;
    justify-content: space-around;
  }
  .divText{
    display: block;
    align-self: center;
  }

  .divContactInfo{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem !important;
    line-height: 2.5rem;
    
  }
  .divInfo{
    display: block;
    align-self: center;
  }

  .noBulletsList{
    list-style: none;
    padding-left: 0;
  }


  i{
    font-size: 2rem;
    color: #7c7c7c !important;
  }

  #labelSubscribe{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem !important;
    line-height: 1.5rem;
  }

  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }

#imgTextBtn{
    width:100%;
}


.reviewsDiv{
    margin-top: 100px;
}
.review{
  display: flex;
  justify-content: center;
}
strong{
  font-weight: 700;
}

.imgReviewComments{
position: absolute;
top: 0%;
left: 50%;
transform: translate(-50%, -50%);
}
.card{
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  border-radius: 1.5rem;
  border: 0px solid transparent;
}
.card-text{
  line-height: 3rem;
  font-size: 1.5rem;
}
.applyInput {
  background: transparent !important;
  /* border: none !important; */
  /* border-bottom: 1px solid #fff !important; */
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  /* color:#fff !important; */
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    /* color: #fff !important; */
    opacity: 1 !important; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    /* color: #fff !important; */
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    /* color: #fff !important; */
  }
  .link{
   
    text-decoration: none;
    display: block;
  }
  
/* 
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
} */

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700 !important;
  font-size: 2.5rem !important;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700 !important;
  font-size: 2rem!important;
}

.requirements{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem !important;
  margin-top: 15px;
  padding-left: 15px;
  line-height: 2rem;
  

}

h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200 !important;
  font-size: 2rem!important;
}

h5{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400 !important;
  font-size: 1.25rem!important;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem !important;
  line-height: 3rem;
}

span{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem !important;
  line-height: 3rem;

}
.tarjetaBusqueda{
  
  background-color: rgba(169, 204, 238,0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}





.flexbox-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.flexbox-item1{
 min-height: fit-content;

}

.flexbox-item2{
  min-height: fit-content;
 
 }

 .flexbox-item3{

  min-height: fit-content;
  

 
 }

 .flexbox-carrusel{
  display: flex;
  justify-content: space-around;
  align-items: space-between;

 }

 .tfoot-input{
  color : red;
}

.tfoot-input::placeholder{
  color : black;
  border: 1px solid black;
}

hr.solid{
  border-top: 3px solid #bbb;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top:1rem;
  margin-bottom:2rem;
}


.carousel-indicators {
  position: absolute;
  bottom: -100px;
}


.carousel-indicators li {
  background-color: #7c7c7c;
}

.carousel-indicators .active {
  background-color:#D895B2;
}

