*{
  font-family: 'Montserrat', sans-serif !important;
}

.row {
  margin-bottom: 20px;
}



td{
  color:#7C7C7C;
  font-weight: 400;
}
   
.button.button-small {
  height: 30px;
  line-height: 30px;
  padding: 0px 10px;
}

/* td input[type=text],
td select {
  width: 100%;
  height: 30px;
  margin: 0;
  padding: 2px 8px;
}

th:last-child {
  text-align: right;
}

td:last-child {
  text-align: right;
}

td:last-child .button {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  background-color: #FFF;
}

td:last-child .button .fas {
  line-height: 30px;
  width: 30px;
}
*/
.table-icons{
  font-size: 1rem;
  color:#7C7C7C;
} 

.fa-plus-circle{
  color:#93C5FD !important;
}

.add-row{
  color:#93C5FD;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;

}

.fa-plus-circle:hover{
  color:#93C5FD!important;
  filter: brightness(0.7);
}

.editBtn:hover{
  filter: brightness(1.1);
}

.deleteBtn:hover{
  filter: brightness(1.1);
}

.saveBtn:hover{
  filter: brightness(1.1);
}

.cancelBtn:hover{
  filter: brightness(1.1);
}


.add-row:hover{
  color: #93C5FD;
  filter: brightness(0.7);
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;

}

/* .table-container {
  display: block;
  overflow-x: auto;
}
thead{
  background-color: rgba(169,204,238,0.2);
} */

.btn:hover {
  filter: brightness(0.7);
  color: #60A5FA;
}

/* 
.textareatd{
  width: 100%;
  height:100%;
  overflow-y: scroll;
  overflow:auto;
} */

/* 
td,th{
  box-sizing: border-box;
}

td:first-child {
  background-color: yellow;
  width: 100px;
  min-width: 100px;
  max-width: 100px;

  


}
td:nth-child(2) {
  
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  
  
  

  
}
th:first-child {
  background-color: yellow !important;
 
  width: 100px;
  min-width: 100px;
  max-width: 100px;
 

 
}

th:nth-child(2) {
  background-color: yellow !important;
  width: 50px;
  min-width: 50px;
  max-width: 50px;

  
  
  
}

td,th:nth-child(n+3){
  
  width: 100px;
  min-width: 100px;
  max-width: auto;


  
} */
/* 
/* Ensure that the demo table scrolls */
/* th,td { white-space: nowrap; }

div.dataTables_wrapper {
    width: 800px;
    margin: 0 auto;
}

.btnDiv{
  white-space: normal;
}

.dataTables_length{
  display:none;
}

.dataTables_filter{
  display:none;
}
.dataTables_info{
  display:none;
}

.dataTables_paginate{
  display:none;
}
   */ 